@font-face {
    font-family: IGFontLight;
    src:local("IGFontLight.ttf");
}

html, body{
    margin: 0;
    padding: 0;
    height: 106%;
    width: 100%;
    background-color: black;
    font-family: 'IGFontLight', sans-serif;
}
  
#camera, #camera--view, #camera--sensor{
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;

}

#camera--view, #camera--sensor{
    transform: scaleX(-1);
}

.top {
    width: 100%;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    font-size: 15px;
}

.topRight{
    top: 5px;
    position: absolute;
    right: 0px;
}

.topRight img{
    max-width: 25vw;
}

.topLeft{
    position: absolute;
    color: white;
    top: 9px;
    left: 10px;
    border-radius: 100%;
    max-width: 30px;
}

.topLeft h1{
    position: absolute;
    color: white;
    left: 35px;
    top: -5;
    font-size: 15px;
}

.topLeft img{
    position: absolute;
    border-radius: 100%;
    max-width: 28px;
}

.arrow img{
    position: absolute;
    border-radius: 100%;
    max-width: 20px;
}

.arrow{
    position: absolute;
    color: white;
    top: 17px;
    left: 175px;
    border-radius: 100%;
    max-width: 30px;
}

.bottom{
    background-color: black;
    z-index: 2;
    position: fixed;
    right: 0;
    left: 0;
    bottom: -2;
    height: 9vh;
}

.bottom img{
    width: 99vw;
}

.bottomG {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 55vh;
    bottom: 30px;
    background: linear-gradient(to top, rgba(0, 0, 0, 255), rgba(0, 0, 0, 0));
}

.topG {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 15vh;
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0));
}


.live{
    top: 4px;
    position: fixed;
    z-index: 1;
    right: 120px;
}

.live img{
    max-width: 12.6vw;
}

.viewers{
    position: absolute;
    top: 2px;
    width: 100%;
}

.count{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    top: 9px;
    right: 55px;
    position: fixed;
    z-index: 1;
    background-color: rgba(187, 187, 187, 0.5);
    border-radius: 4px;
    color: black;
    padding-left: 4;
    padding-right: 4;
    padding-top: 0;
    padding-bottom: 0;
    width: 45px;
}

.count h1{
    padding: 0px;
    font-size: 12px;
}

.counst span{
    padding: 0px;
    font-size: 12px;
}

.count img{
    max-width: 12px;
}